.card {
  max-width: 500px;
  margin-right: auto;
  margin-left: auto;
}
.compact .image__wrap,
.list .image__wrap {
  height: 362px;
  margin-bottom: 15px;
}
.card__image__wrap {
  height: 436px;
  overflow: hidden;
  border-radius: 12px;
  margin-bottom: 24px;
  transition: all 0.3s ease;
}
.image__wrap img {
  width: 100%;
  height: 100%;

  object-fit: cover;
}
.desc {
  display: flex;
  justify-content: space-between;
}
.desc__item {
  align-items: center;
  margin-bottom: 20px;
}
.compact .desc__item {
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  margin-bottom: 0;
}

.desc__item,
.compact .desc {
  display: flex;
  justify-content: space-between;
}
.compact .desc__item {
  flex-direction: column;
  text-align: left;
  align-items: flex-start;
  margin-bottom: 0;
}

.compact .desc__item:last-child {
  align-items: flex-end;
}
.desc__id {
  color: #fcef9a;
}
.desc__value {
  color: #fff;
}
.desc__legend {
  color: #7c7c7c;
}
