.footer {
  background-color: #000;
  padding-top: 83px;
  padding-bottom: 80px;
  position: relative;
  z-index: 1;
}
.footer__logo {
  font-size: 30px;
}
.footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 116px;
}
.footer__social {
  max-width: 680px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 18px;
}
.footer__bottom {
  font-weight: 400;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-size: 14px;
}
.footer__desc {
  max-width: 680px;
  color: #7c7c7c;
}
