.button {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
  flex: none;
  border: 2px solid transparent;
  transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
}

.button_primary {
  background-color: #fcef9a;
  border-color: #fcef9a;
  color: #000;
}

.button_medium {
  border-radius: 16px;
  height: 60px;
  font-size: 18px;
  font-weight: 500;
  padding: 0 20px;
  min-width: 199px;
}
.button_outline {
  background-color: transparent;
  color: #fcef9a;
}
.button_primary.button_outline:hover {
  background-color: #fcef9a;
  border-color: #fcef9a;
  color: #000;
}
.button__user_name {
  max-width: 143px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: #fcef9a;
}
#MetamaskLogin:hover span {
  display: none;
}
#MetamaskLogin:hover:before {
  content: "Logout MetaMask";
}
