.currentStageBox{
  display: inline-flex;
  margin: 0;
  padding: 14px 0;
  border: 3px #71CFC3 solid;
  color: #71CFC3;
  background-color: #202020;
  height: 64px;
  width: 188px;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  border-radius: 24px;
  justify-content: center;
  cursor: default;
}

.stageBox{
  display: inline-flex;
  margin: 0;
  padding: 14px 0;
  color: #E8E3DD;
  background-color: #313131;
  height: 64px;
  width: 188px;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
  border-radius: 24px;
  justify-content: center;
  cursor: default;

  &_small{
    margin: 0;
    padding: 6px 0;
    color: #E8E3DD;
    background-color: #313131;
    height: 56px;
    width: 100px;
    font-weight: 300;
    font-size: 24px;
    line-height: 42px;
    border-radius: 24px;
    justify-content: center;
    text-align: center;
    cursor: default;
  }
}

.mintButton{
  display: inline-flex;
  margin: 16px 0 0 !important;
  padding: 16px 0;
  color: #202020;
  background-color: #B8C3E6;
  height: 64px;
  width: 424px;
  font-family: Roboto Flex;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  border-radius: 24px;
  justify-content: center;
  box-shadow: 0px 0px 32px 0px #B8C3E6BF;
  cursor: pointer;
  transition: all 1s;

  &:active{
    box-shadow: 0px 0px 8px 0px #202020BF inset;
  }
}

.smallDonut{
  display: inline-block;
  border: 7px solid #E8E3DD;
  border-left-color: #71CFC3;
  border-radius: 50%;
  width: 64px;
  height: 64px;
  animation: donut-spin 1.2s linear infinite;

  @keyframes donut-spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}