.willTakeCardButton{
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: 2px #71CFC3 solid;
    background-color: #202020;
    color: #71CFC3;
    height: 88px;
    width: 72px;
    border-radius: 20px;
    justify-content: center;
    transition: all 1s;

    &:hover{
        background-color: #71CFC3;
        color: #202020;
    }

    &:active{
        background-color: #71CFC3;
        color: #202020;
    }

    &_clicked{
        background-color: #71CFC3;
        color: #202020;
    }
}

.donut {
    display: inline-block;
    border: 5px solid #202020;
    border-left-color: #71CFC3;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: donut-spin 1.2s linear infinite;

    @keyframes donut-spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}